* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a; 
}

.loginForm {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ffcc; 
    width: 300px;
}

.loginForm input[type="email"],
.loginForm input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #00ffcc;
    background-color: #333333;
    color: #ffffff; 
    border-radius: 4px;
    box-shadow: none;
}

.loginForm input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #00ffcc;
    color: #1a1a1a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.loginForm input[type="submit"]:hover {
    background-color: #1a1a1a;
    color: #00ffcc; 
}

.orderForm {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ffcc; 
    width: 300px;
    display: none;  
}

.orderForm input[type="text"],
.orderForm button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #00ffcc;
    background-color: #333333;
    color: #ffffff; 
    border-radius: 4px;
    box-shadow: none;
}

.orderForm button {
    background-color: #00ffcc;
    color: #1a1a1a;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.orderForm button:hover {
    background-color: #1a1a1a;
    color: #00ffcc; 
}


.popupMessage {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    background: linear-gradient(135deg, #00ffcc, #008888);
    color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 255, 204, 0.5);
    z-index: 1000;
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
    transition: opacity 0.3s, transform 0.3s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;  
}


.action-button {
    padding: 10px 12px;
    margin: 0 5px 5px 5px; 
    border: 2px solid #00ffcc;
    background-color: #333333;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.action-button:hover {
    background-color: #00ffcc;
    color: #1a1a1a;
}